#principal{
	width: 100%;
}

#cabecalho{
	width: 100%;
	height: 80px;
}

#cabecalho img{
	width: 25%;
	height: 100%;
	float: left;
}

#menu{
	width: 75%;
	height: 100%;
	float: right;
}

#menu li{
	display: inline;
}

#menu a{
	text-decoration: none;
	color: #ffaass;
	font-size: 2.0em;
	margin-left: 2%;
}

#menu a:hover{
	text-decoration: underline;
	color: orange;
}

#menu ul{
	text-align: right;
	margin-left
}

#banner{
	width: 100%;
	height: 490px;
	background-image: url("../img/gandalfgrande.jpg");
	background-size: 100% 100%;
	position: relative;
}

#caixaFlutuante{
	width: 50%;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 1% 2% 1% 2%;
	position: absolute;
	top: 20%;
}

#caixaFlutuante h1{
	font-size: 3.0em;
}

#caixaFlutuante p{
	font-size: 1.7em;
}

#caixaFlutuante a{
	font-size: 1.4em;
	text-decoration: none;
	color: #ffaass;
}



.coluna{
	width: 22%;
	margin-right: 4%;
	float: left;
	margin-top: 2%;  
	text-align: center;
}

.coluna:last-child{
	margin-right: 0%; 
}
	
.coluna img{
	width: 100%;
	height: ;
}

@media screen and (max-width: 800px){
	#menu a{
		font-size: 1.3em;
	}
	
	#banner{
		background-image: url("../img/gandalfmedio.jpg");
	}
	
	#caixaFlutuante h1{
		font-size: 2.2em;
	}
	
	#caixaFlutuante p{
		font-size: 1.2em;
	}
	
	#caixaFlutuante a{
		font-size: 0.9em;
	}
	
	.coluna{
		width: 48%;
		margin-right: 4%;
	}
	
	#diferente{
		margin-right: 0px;
	}
	
}

@media screen and (max-width: 600px){
	#menu a{
		font-size: 1.1em;
	}
	
	#cabecalho img{
	height: 75%;
	}
	
	#banner{
		background-image: url("../img/gandalfpequeno.jpg");
	}

	#caixaFlutuante{
	width: 85%;
	}
	
	.coluna{
	width: 100%;
	margin-right: 4%;
	margin-top: 2%;  
	}
	
}








